@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
  background: linear-gradient(to bottom right, #000, #000, #001a33, #003366, #660033, #800080, #993399, #C71585);
  background-size: 200% 200%;
  animation: gradient 20s ease infinite;
}

h1 {
  background-image: url(https://media.giphy.com/media/jnBjdWc1X626LH2amq/giphy.gif);
  background-size: 100%;
  background-repeat: no-repeat;
  color: transparent;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  text-transform: uppercase;
  font-size: 120px;
  line-height: .75;
  margin: 10px 0;
  text-shadow: 0 0 5px rgba(255, 10, 255, 0.8);
  letter-spacing: 5px;
  font-weight: bold;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}