@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap'); @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&amp;display=swap'); :root {
    --primary-color: #5a89ff;
    --secondary-color: #0e1013;
    --text-color: #FFFFFF;
    --text-color-d: #2c2c2c;
}

* {
    box-sizing: border-box;
}

*, *:focus, *:hover, *:active, *:before, *:after {
    outline: 0;
}

*::selection {
    background: rgb(255 255 255 / 15%);
    color: var(--primary-color);
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #424242;
}

::-webkit-scrollbar-thumb {
    background: var(--primary-color);
}

html {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
}

body {
    width: 100%;
    position: relative;
    margin: 0 auto;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
    font-family: montserrat, sans-serif!important;
    -webkit-font-smoothing: antialiased;
    background: #0a0b12 url(/cdn/bg-overlay.png);
    background-repeat-x: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    line-height: unset;
    color: #ffffff;
}

a {
    text-decoration: none!important;
    color: var(--text-color);
    border: 0;
    cursor: pointer;
    transition: 150ms ease 0s;
}

p, h1, h2, h3, h4, h5 {
    margin: 0;
}

.section-main, nav, footer {
    min-width: 100%;
    position: relative;
    display: block;
}

.navbar-in, .header-in, .section-in, .footer-in {
    width: 100%;
    padding-left: 40px;
    height: 100%;
    margin-left: auto!important;
    max-width: 1500px;
    position: relative;
    padding-right: 40px;
    margin-right: auto!important;
}

.grid-1, .grid-2, .grid-3, .grid-4, .grid-5, .grid-6, .grid-7, .grid-8, .grid-9 {
    display: grid;
    grid-gap: 25px;
}

.grid-1 {
    grid-template-columns: repeat(1, 1fr);
}

.grid-2 {
    grid-template-columns: repeat(2, 1fr);
}

.grid-3 {
    grid-template-columns: repeat(3, 1fr);
}

.grid-4 {
    grid-template-columns: repeat(4, 1fr);
}

.grid-5 {
    grid-template-columns: repeat(5, 1fr);
}

.grid-6 {
    grid-template-columns: repeat(6, 1fr);
}

.grid-7 {
    grid-template-columns: repeat(7, 1fr);
}

.grid-8 {
    grid-template-columns: repeat(8, 1fr);
}

nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    padding-top: 40px;
}

.header {
    padding-top: 100px;
    height: 640px;
}

.header-in, .navbar-in {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-container {
    max-width: 700px;
}

.navbar-l, .navbar-r {
    display: flex;
    align-items: center;
    grid-gap: 30px;
}

.navbar-logo {
    display: flex;
    align-items: center;
}

.navbar-logo .navbar-ico {
    height: 50px;
    margin-right: 20px;
}

.navbar-logo .navbar-text {
    height: 20px;
}

.navbar-link {
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    color: #ffffff;
}

.header-image {
    height: 80%;
    display: flex;
    align-items: center;
}

.header-image img {
    height: 100%;
}

.header-container h1 {
    color: var(--primary-color);
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: 900;
    letter-spacing: 2px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
}

.header-container h1 span {
    color: #ffffff;
}

.header-container p {
    line-height: 32px;
    color: #ffffff;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 16px;
    font-weight: 500;
}

.header-container h1:before, .title-set > h2:before, .title-set > h2:after {
    content: "";
    height: 3px;
    width: 100%;
    background: linear-gradient(45deg, var(--primary-color), transparent 80%);
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 10px;
}

.btn-row {
    display: flex;
    align-items: center;
    grid-gap: 30px;
    margin-top: 20px;
}

.btn-primary {
    background: var(--primary-color);
    border: 2px solid var(--primary-color)!important;
    color: white;
    padding: 12px 24px;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 15px;
    letter-spacing: 1px;
    text-align: center;
    font-family: montserrat, sans-serif!important;
    -webkit-font-smoothing: antialiased;
    cursor: pointer;
    transition: 150ms ease 0s;
}
.btn-primary:hover {
    background: transparent;
}
.btn-primary i {
    margin-left: 10px;
}

.btn-primary.c {
    background: transparent;
}

.features-card {
    display: flex;
    flex-direction: column;
    grid-gap: 14px;
    background: linear-gradient(45deg, #ffffff0a, #5a89ff08);
    padding: 40px;
    border-radius: 8px;
}

.features-card i {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #5a89ff24;
    border-radius: 5px;
    font-size: 26px;
}

.features-card h3 {
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 900;
    letter-spacing: 1px;
    color: var(--primary-color);
}

.features-card p {
    line-height: 32px;
    color: #ffffff;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 16px;
    font-weight: 500;
}

.features {
    margin-bottom: 120px;
    margin-top: 50px;
}

.title-set {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 120px;
    margin-bottom: 70px;
}

.title-set > h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: 900;
    letter-spacing: 1px;
    position: relative;
}

.title-set > p {
    background: linear-gradient(45deg, #ffffff0a, #5a89ff08);
    padding: 8px 30px;
    border-radius: 20px;
    text-transform: uppercase;
    font-weight: 600;
    color: var(--primary-color);
    display: block;
    width: fit-content;
    margin-bottom: 6px;
}

.title-set > h2:before,.title-set > h2:after {
    width: 50%;
    top: 0;
    bottom: 0;
    margin: auto;
}

.title-set > h2:after {
    left: calc(-50% + -40px);
    right: unset;
    background: linear-gradient(45deg, transparent 20%, var(--primary-color));
}

.title-set > h2:before {
    right: calc(-50% + -40px);
    left: unset;
}

.product-card {
    background: linear-gradient(141deg, #14192fb5, #5a89ff0d);
    padding: 40px;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
}

.product-card > h2 {
    color: var(--primary-color);
    font-size: 1.6rem;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    font-weight: 800;
}

.product-card hr {
    width: 100%;
    border-color: var(--primary-color);
    margin: 18px 0;
}

.product-li {
    display: flex;
    flex-direction: column;
    grid-gap: 12px;
    margin: 8px 0 26px 0;
}

.product-li i {
    color: var(--primary-color);
    font-size: 19px;
    height: 18px;
}

.product-li span {
    display: flex;
    align-items: center;
    grid-gap: 6px;
    font-family: 'Montserrat Alternates', sans-serif;
}

.btn-secondary {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 15px;
    letter-spacing: 1px;
    text-align: center;
    width: fit-content;
    margin: 0 auto;
}

.product-card .btn-secondary {
    margin-top: 10px;
}

.product-switcher {
    display: flex;
    align-items: center;
    grid-gap: 24px;
    margin-bottom: 80px;
}

.switch {
    background: transparent;
    border: 2px solid var(--primary-color);
    padding: 12px 24px;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 15px;
    letter-spacing: 1px;
    text-align: center;
    user-select: none;
    transition: 150ms ease 0s;
    cursor: pointer;
}

.switch.active {
    background: var(--primary-color)!important;
    transform: scale(1.1);
}

.products {
    display: none;
}

.products.active {
    display: grid;
}

.switch:hover {
    background: #5a89ff29;
}

.products .product-card:nth-child(even) {
    transform: translateY(-20px);
    background: linear-gradient(180deg, #b9b9b914, #5a89ff33);
}

.contact-container {
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 120px;
}

.contact-container .btn-primary {
    padding: 20px 30px;
    font-size: 17px;
}

.contact-container .btn-primary i {
    color: var(--primary-color);
}

@media screen and (max-width: 800px) {
    .navbar-r {
        display: none;
    }

    .header {
        height: auto;
    }

    .header-container h1 {
        font-size: 26px;
    }

    .header-image {
        display: none;
    }

    .header-in {
        margin: 40px 0;
    }

    .btn-row {
        flex-direction: column;
    }

    .btn-primary {
        width: 100%;
    }

    .grid-1, .grid-2, .grid-3, .grid-4, .grid-5, .grid-6, .grid-7, .grid-8, .grid-9 {
        grid-template-columns: repeat(1, 1fr);
    }

    .product-switcher {
        flex-direction: column;
    }

    .switch {
        width: 100%;
    }

    .title-set > h2 {
        font-size: 40px;
    }

    .title-set > h2:before, .title-set > h2:after {
        display: none;
    }

    .products .product-card:nth-child(even) {
        transform: none;
    }
}
